/*Header Section*/
html{scroll-behavior: smooth;}
.header_section{padding: 7px 0px;background-color: #608e56;transition: .5s;}
.fixed_css{position: sticky;top: 0;z-index: 999;}
.header_img{width: 100px;}
.header_menu_button{
    position:absolute;
    top: 18px;
    right: 10px;
    display: none;
}
.header_menu_responsive ul{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.header_menu_responsive ul li{
    display: block;
    padding: .5rem 1rem;
}
#myDIV i{
    position: absolute;
    top: 3%;
    right: 7%;
    font-size: 1.5rem;
    display:none;
}
.btns{color: #fff;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    transition: .5s;
}
.header_menu_section ul li a:hover,.active{color: #3763eb;text-decoration: none;}
.btns::before{content: '';
    position: absolute;
    background-color: #3763eb;
    left: 0;
    top: 50px;
    z-index: 99;
    width: 30px;
    height: 3px;
    transition: .5s;
    opacity: 0;
}
.btns:hover:before{
    opacity: 1;
}
.own_button{
    color: #3763eb;
    background-color: #fff; 
    border-radius: 30px;
    padding: 8px 28px;
    border: 2px solid #fff;
}
.own_button:hover{
    background: none;
    border: 2px solid #fff;
    color: #3763eb;
}
/*2nd Section*/
.header_2nd_section{
    background: url('img/hero1.jpg'),#f6f9fc;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
}
.header_section_cover{
    margin-top: 100px;
}
.header_img_cover{
    width: 100%;
    height: 600px;
    background-image: url('img/hero2.jpg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position:right;
    background-size: cover;
    border-radius: 49% 0% 50% 58%; 
}
.header_button{
    background-color: #3763eb;
    color: #fff;
    padding: 15px 28px;
}
.header_button:hover{
    background-color: #f6f9fc;
}
/*3nd Section*/
.card_header h2::before,
.card_icon_cover::before,
.about_header h2::before,
.six_header_section h2::before,
.soution h2::before,
.footer_menu_item h3::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #3763eb;
    bottom: 98px;
    left: 17px;
}
.card{
    
    background-color: #f6f9fc;
    z-index: 9;
    transition: .5s;
}
.card h2{
    position: relative;
}
.card:hover{
    background-color: #3763eb;
    color: #fff;
}
.card i{
    font-size: 30px;
    border-radius: 50% 50% 50% 0%;
    background-color:#3763eb;
    color: #fff;
    transition: .5s;
}
.card:hover .card_hov{
    background-color: #fff;
    color: #3763eb;
}
.card_icon_cover{
    position: relative;
}
.card_icon_cover::before{
    width: 32px;
    height: 2px;
    background-color: #3763eb;
    left: 0;
    bottom: 0;
}
.card_patter_img::before{
    content: url(img/pattern.png);
    position: absolute;
    left: -20%;
    top: 86px;
    z-index: -101;
}
/*4nd Section*/
.four_section{
    background-color: #f6f9fc;
}
.about_header h2::before{
    top: 190px;
}
.content-1 ul li{
    list-style: none;
}
.own_btn-group button{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px 0 rgb(231, 226, 226);
}
.own_btn-group button:hover{
    box-shadow:none;
}
/*5nd Section*/
.five_section{
    background-image:linear-gradient(to right, rgba(31, 46, 60, 0.9), rgba(31, 46, 60, 0.9)), url('./img/bg.jpg');
}
.video_content h2{
    position: relative;
    font-size: 3rem;
}
.video_content h2::before{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 50px;
    height: 3px;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video_content i{
    margin: 100px 0px;
    position: relative;
}
/*Video Play button*/
  .play-btn {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 100px auto;
  }
  .play-btn:hover{
    background: #3763eb; 
  }
  /* triangle */
  .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid  #3763eb;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .play-btn:hover::after{
    border-left: 25px solid  #ffffff;
  }
  /* pulse wave */
  .play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .75);
    top: -25%;
    left: -25%;
    background: rgba(198, 16, 0, 0);
  }
  
  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }
  
  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  
    }
  }
.fixed_video_section{
    position:fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.781);
    display: none;
}
.fixed_video_section i{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: .3s;
    font-weight: lighter;
}
.fixed_video_section i:hover{
    transform: scale(1.5);
    text-shadow: 0 0 5px #fff;
}
.youtube_video{
    margin-left: 10%;
    margin-top: 2%;
}
/*6nd Section*/
.six_section{
    background-color: #f6f9fc;
}
.price_card{
    box-shadow: 0 0 5px 0 rgb(231, 226, 226);
}
.price_card .list-group{
    line-height: 40px;
}
.price_card_button{
    padding: 14px 17px;
   transition: .3s;
}
.price_card_button:hover{
   transform: translateY(-5px);
}

.six_header_section h2{
    position: relative;
    font-size: 40px;
}
.six_header_section h2::before{
    left: 48%;
    top: 70px;
}
/*7nd Section*/
.seven_section{
    background-image:linear-gradient(to right, #4b73ecde, #4b73ecea), url('./img/free-bg.jpg');
}
.free_section_content button:hover{
    background-color: #3763eb;
    color: #fff;
}
.free_section_content h2::before{
    top: 91%;
}
.news:hover .news_img{
    transition: .5s;
    transform: scale(1.2);
}
.author_pic-cover{
    position: absolute;
    background-color: #3763eb;
    color: #fff;
    border-radius:50px;
    height: 40px;
    width: 155px;
    right: 4%;
    top: 73%;
}
.author_pic-cover img{
    width: 40px;
    float: left;
    border-radius: 50%;
    padding: 5px 4px;
}
.author_pic-cover h6{
    line-height: 40px;
    font-size: 14px;
    display: inline-block;
}
/*9nd Section*/
.nine_section{
    background-color:#f6f9fc ;
}
.business_started{
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(231, 226, 226);
}
.subscribe_form_box{
    border-radius: 5px;
}
.subscribe_form_box input{
    padding: 28px 30px;
    border-radius: 30px;
}
.brand_img{
    overflow: hidden;
}
.brand_img img{
    width: 214px;
    height: 150px;
    opacity: .5;
    float: right;
    transition: .5s;
    padding: 1.5rem;
}
.brand_img img:hover{
    opacity: 1;
    padding: 1rem;
}
.soution h2::before{
    top: 170px;
}

.footer_section{
    background-color: #081828;
    color: #fff;
}
.fotter_menu ul li {
   width: 30px;
   height: 30px;
   padding: 2px 8px;
   margin-right: 20px;
   border-radius: 50%;
   transition: .5s;
}
.fotter_menu ul li:hover{
    background-color: #3763eb;
}
.footer_menu_item h3::before{
    width: 3px;
    height: 24px;
    left: 15px;
    top: 7px;
}
.scroll_top{
    position: fixed;
    right: 4%;
    bottom: 3%;
    cursor: pointer;
    transform: scale(0);
    transition: .5s;
}
.scroll_top img{border-radius: 50%;}
.show_scroll{
    transform: scale(1);
    z-index: 50;
}
/*Responsive Css Here*/
@media only screen and (max-width: 768px) {
    .header_2nd_section{
        background-image: none;
    }
    .video_content h2 {
        font-size: 2rem;
    }
    .price_card_button {
        padding: 10px 15px;
    }
    .header_menu_responsive{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(6, 40, 49);
        z-index: 9999;
        display: none;

    }
    .header_menu_responsive ul{
        display: block;
        text-align: center;

    }
    .btns::before{
        background: none;
    }
    .header_menu_button{
        display: block;
    }
    #myDIV i{
        display:block;
    }
}
@media only screen and (max-width:425px) {
    .six_header_section h2::before {
        left: 42%;
        top: 111%;
    }
    .video_content h2,.card_header h2,.about_header h2,.six_header_section h2 {
        font-size: 1.6rem;
    }
    .video_content p {
        font-size: 0.8rem;
    }
    .price_card_button {
        padding: 8px 13px;
    }
    .header_section_cover h1{
        font-size: 2rem;
    }
    .card_header h2::before{
        bottom: 45%;
    }
    .about_header h2::before {
        top: 176px;
    }
    .six_header_section h2::before{
        top: 160%;
    }
}
section{
    overflow: hidden;
}